* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

navbar {
	position: fixed !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	z-index: 99 !important;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 5%;
	background-color: #121315;
}
#logo {
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: x-large;
	color: #edf0f1;
	text-decoration: none !important;
}

.nav__links a,
.cta,
.overlay__content a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #edf0f1;
	text-decoration: none;
}
.nav__links {
	list-style: none;
	display: flex;
}
.nav__links li a {
	padding: 0px 20px;
	transition: color 0.3s ease 0s;
}
.nav__links li a:hover {
	color: #0088a9;
}

.cta {
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 0.3s ease 0s;
}
.cta:hover {
	background-color: rgba(0, 136, 169, 0.8);
}


/* Mobile Nav */

.menu {
	display: none;
}
.overlay {
	height: 0;
	width: 100%;
	position: fixed;
	left: 0;
	top: auto;
	background-color: #121315;
	overflow-y: hidden;
	transition: height 0.5s ease 0s;
}
.overlay--active {
	height: 25%;
}
.overlay__content {
	display: flex;
	min-height: 99.2%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.overlay a {
	padding: 10px;
	font-size: 25px;
	display: block;
	transition: color 0.3s ease 0s;
}
.overlay a:hover,
.overlay a:focus {
	color: #0088a9;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
	}
}
@media only screen and (max-width: 700px) {
	#logo,
	.nav__links,
	.cta {
		display: none;
	}
	.menu {
		display: initial;
	}
}
@media only screen and (min-width: 700px) {
	#logo,
	.nav__links,
	.cta {
		display: flex;
	}
	.overlay,
	.menu {
		display: none;
	}
}