body {
    background-color: #000000;
}

/* Scroll bar */
::-webkit-scrollbar-track {
    background-color: #22262d;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #8b8b8b;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.dark_container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    background-color: rgba(36,37,42,0.5);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-color: #2b2b2b;
}

.row {
    display: flex;
    flex-direction: row;
}

.contact_card {
    margin-top: 20px;
    margin-bottom: 90px;
    width: 350px;
    height: 750px;
    color: #000000;
    background-color: #303030;
    border-radius: 0.25rem;
}

.contact_card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 745px;
    margin-top: 0px;
    background-color: #ACACAC;
    border-radius: 0.25rem;
}